html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
    
.width-wrap{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-top: 0;
    margin-bottom: 3em;
    background-color: cyan
}

footer hr{
    border: none;
    width: 50vh;
    min-width: 300px;
    max-width: 890px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-bottom: 3px;
    border-bottom-style: dotted;
    border-bottom-color: yellow;
}

dd::after{
   content: ":";
}

body{
    color: royalblue;
    background-color: navy 

}

h1, h2, h3{
    color: navy
}

a{
    color: royalblue
}


::selection{
    color: navy;
}


header{
    border-top: rgba(0, 0, 0, 0.1);
    border-top: 4px;
    border-top-style: solid;
    margin-left: -2em;
    margin-right: -2em;
}

header nav{
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: rgba(0, 0, 0, 0.3);
    margin-left: 2em;
    margin-right: 2em;
    
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
}

header a{
    border-top: 4px;
    border-top-style: solid;
    border: transparent;
    
}

header a:hover{
    border-top: navy;
    border-top-width: 4px;
    border-top-style: solid;
    margin-top: -4px;
}


nav a{
    display: inline-block;
    position: relative;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: navy;
}


td, th{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    
}

thead, tfoot, tbody th{
    background-color: rgba(0, 0, 0, 0.2);

}

td{
    background-color: rgba(0, 0, 0, 0.05);
}

tbody tr:nth-child(even) td{
    background-color: rgba(0, 0, 0, 0.15);

}

label{
    display: block;
}


input[type="radio"] + label, input[type="checkbox"] + label{
    display: inline;
}

button[type="submit"]{
    border: none;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    color: navy;
    background-color: royalblue

}


input:invalid {
    background-color: royalblue
}


