html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
    
.width-wrap{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 0.3);
    border-top: 0;
    margin-bottom: 3em;
    background-color: cyan
}

footer hr{
    border: none;
    width: 50vh;
    min-width: 300px;
    max-width: 890px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-bottom: 3px;
    border-bottom-style: dotted;
    border-bottom-color: yellow;
}

dd::after{
   content: ":";
}

body{
    color: royalblue;
    background-color: navy 

}

h1, h2, h3{
    color: navy
}

a{
    color: royalblue
}

nav a{
    color: navy;
}

::selection{
    color: navy;
}


